body {
  background-color: pink;
}

p {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

#important {
  font-size: 40px;
  color: red;
}

/* HERE'S MY OWN NOTES*/
.square {
  background-color: brown;
  height: 200px;
  width: 200px;
}
